# Installation instructions:
# > sudo cp pibass.service /lib/systemd/system/
# > sudo chmod 644 /lib/systemd/system/pibass.service
# > sudo systemctl daemon-reload
# > sudo systemctl enable pibass.service
# > sudo reboot

[Unit]
Description=PiBass RTM Slack Bot
Requires=network-online.target
After=network-online.target

[Service]
User=pi
Group=pi
Type=idle
WorkingDirectory=/home/pi/rtmbot
ExecStart=/usr/local/bin/rtmbot -c /home/pi/rtmbot/rtmbot.conf

[Install]
WantedBy=multi-user.target
